* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Inter, sans-serif;
  background: #FFF7ED;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 112px;
  display: flex;
  align-items: center;
  margin-left: 26px;
}

header .login-icon {
  height: 18px;
  width: 18px;
}

header .login-link {
  display: inline-flex;
  align-items: center;
}

nav {
  display: flex;
  gap: 20px;
  padding: 32px 26px;
}

nav a {
  text-decoration: none;
  color: rgb(77, 77, 77);
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
}

nav a:hover {
  color: #161616;
  text-decoration: underline;
}

.nav__home,
.nav__home:hover {
  color: black;
  font-size: 26px;
  font-weight: 900;
  line-height: 41px;
  margin-right: auto;
  text-decoration: none;
}

footer {
  height: 75px;
  background: rgb(37, 37, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

footer>div {
  color: rgb(170, 170, 170);
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}

main {
  margin-bottom: 84px;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 65px 27px;

  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("/src/assets/images/image_54.png") no-repeat center;
  background-size: cover;
}

.home h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
}

.home p {
  margin-top: 23px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.home a {
  text-align: center;
  text-decoration: none;
  margin-top: 52px;
  height: 50px;
  padding-block: 9px;
  border: none;
  border-radius: 5px;
  background: rgb(255, 140, 56);
  cursor: pointer;

  color: inherit;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;

  transition: transform .1s ease-in-out;
}

.home a:hover {
  transform: translate(1px, 1px);
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about {
  padding: 49px 27px 53px;
}

.about h1 {
  color: rgb(22, 22, 22);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.about p {
  padding: 32px 0 55px;

  color: rgb(22, 22, 22);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.about__explore {
  display: flex;
  flex-direction: column;
  padding: 32px 37px;
  align-items: flex-start;

  border: none;
  border-radius: 5px;
  background: rgb(255, 204, 141);
}

.about__explore h2 {
  color: rgb(22, 22, 22);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.about__explore a {
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background: rgb(22, 22, 22);
  margin-top: 25px;
  padding: 12px 22px;
  cursor: pointer;

  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  transition: transform .1s ease-in-out;
}

.about__explore a:hover {
  transform: translate(1px, 1px);
}

/*** VAN PAGES ***/
.van-list-container {
  padding-inline: 23px
}

.van-list-container h1 {
  margin-top: 54px;
  margin-bottom: 22px;
}

.van-list-filter-buttons {
  display: flex;
  flex-wrap: wrap;
}

.van-list-filter-buttons>a {
  margin-right: 15px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 56px;
  margin-bottom: 83px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;

  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.van-info p {
  display: flex;
  flex-direction: column;
}

.van-info p span {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: right;
}

.van-type {
  height: 34px;
  padding: 6px 14px;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}

.van-detail-container {
  padding-top: 40px;
  padding-inline: 27px;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.van-detail h2 {
  font-size: 2rem;
  margin: 20px 0 10px;
}

.van-detail>i {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: center;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  margin-top: 22px;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
}

.host-nav {
  gap: 28px;
}

.host-nav a {
  font-size: 18px;
  font-weight: 500;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.host-nav .selected {
  font-weight: 700;
  text-decoration: underline;
  color: #161616;
}

.host-van-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.host-vans-list {
  padding-inline: 26px 28px;
}

.host-vans-title {
  padding-inline: 26px;
  margin-top: 23px;
  margin-bottom: 32px;
}

.host-van-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.host-van-single>img {
  height: 66px;
  border-radius: 5px;
  margin-right: 17px;
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}

.host-van-detail-page {
  padding-top: 29px;
  padding-inline: 26px;
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.host-van-detail-container {
  padding-block: 23px;
  padding-inline: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #161616;
}

.host-van-detail {
  display: flex;
  align-items: center;
}

.host-van-detail>img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.host.van-type {
  font-size: 13px;
  font-weight: 600;
  line-height: 26px;
}

.host-van-detail h2 {
  font-size: 26px;
  line-height: 28px;
  margin-top: 16px;
}

.host-van-detail p {
  line-height: 36px;
}

.host-van-detail span {
  font-size: 20px;
  font-weight: 700;
}

.back-button {
  display: block;
  text-decoration: none;
  color: black;
}

.back-button span {
  text-decoration: underline;
}

.host-van-detail-nav {
  display: flex;
  padding: 0;
  margin-block: 27px;
}

.host-van-detail-nav a {
  font-weight: 500;
}

.host-van-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.host-van-detail-nav .selected {
  font-weight: 700;
  text-decoration: underline;
  color: #161616;
}

.host-van-detail__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.host-van-detail__info p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 21px;
}

.host-van-detail__info span {
  font-weight: 700;
}

.host-van-detail__price {
  margin-top: 17px;
  margin-bottom: 24px;
  color: #4D4D4D;
}

.host-van-detail__price span {
  font-size: 24px;
  color: #161616;
}

.host-van-detail__photos>img {
  height: 103px;
  margin-top: 2px;
  margin-bottom: 3px;
  border-radius: 5px;
}

.page-not-found {
  padding: 104px 28px 22px 26px;
  display: flex;
  flex-direction: column;
  color: #161616;
  gap: 30px;
}

.page-not-found h1 {
  font-size: 2rem;
  font-weight: 700;
}

.page-not-found a {
  text-decoration: none;
  color: white;
  background-color: #161616;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  height: 55px;

  border: none;
  border-radius: 5px;
  transition: transform .1s ease-in-out;
}

.page-not-found a:hover {
  transform: translate(1px, 1px);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-container h1 {
  margin-block: 48px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form>input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-size: 100%;
  font-weight: 400;
}

.login-form>input:focus {
  outline: none;
}

.login-form>input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form>input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form>button {
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 100%;
  font-weight: 700;
}

.red {
  color: #cc0000;
}

.login-form>button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}